{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/estilos.css' %}">
    <title>Pagina Comercial</title>
</head>
<body>
    <div class="page-content">
        <div class="topo">
            <a class="sobre" href="index.html">Inicio</a>
            <a class="sobre" href="sobre.html">Sobre</a>
            <a class="sobre" href="cursos.html">Cursos</a>
            <a class="sobre" href="parceiros.html">Parceiros</a>
            <a class="fale_conosco" href="fale_conosco.html">Fale Conosco</a>
        </div>
        <div class="content">
            <div class="left">
            </div>
            <div class="mid">
                <h1>Inicio</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam perferendis et, repellat asperiores culpa iure minus autem tenetur libero adipisci consequuntur? Animi quo sequi quod, alias eos vel error voluptatum!</p>
            </div>
            <div class="right">
                <h1>Testes</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolorum maiores provident sed? Similique quos ratione maiores! Consequuntur eius labore, enim, optio ea libero possimus atque ipsum voluptas inventore eligendi.</p>
            </div>




        </div>
        <div class="footer">
            <a href="">Desenvolvido por Pedro Augusto e Kleber Nunes</a>
        </div>
    </div>
</body>
</html>